﻿@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        @*<div class="flexslider">

            <ul class="slides">
                <li>
                    <img src="~/img/slider1.png" alt="">
                    <section class="flex-caption transparent">

                        <img src="~/img/s3.png" />
                        <p>LOREM IPSUM 1</p>
                        <button name="button">INGRESAR</button>

                    </section>
                </li>
                <li>
                    <img src="~/img/slider2.png" alt="">
                    <section class="flex-caption">
                        <p>LOREM IPSUM 2</p>
                    </section>
                </li>
                <li>
                    <img src="imagenes/3.jpg" alt="">
                    <section class="flex-caption">
                        <p>LOREM IPSUM 3</p>
                    </section>
                </li>
            </ul>
        </div>*@
        <div>
            <div class="swiper-container main-slider loading">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <figure class="slide-bgimg" style="background-image:url(https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLbVhsNzdIYmlfN1E)">
                            <img src="https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLbVhsNzdIYmlfN1E" class="entity-img" />
                        </figure>
                        <div class="content">
                            <p class="title">Shaun Matthews</p>
                            <span class="caption">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
                            <button class="caption">hola</button>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <figure class="slide-bgimg" style="background-image:url(https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLWTdaX3J5b1VueDg)">
                            <img src="https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLWTdaX3J5b1VueDg" class="entity-img" />
                        </figure>
                        <div class="content">
                            <p class="title">Alexis Berry</p>
                            <span class="caption">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <figure class="slide-bgimg" style="background-image:url(https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLRml1b3B6eXVqQ2s)">
                            <img src="https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLRml1b3B6eXVqQ2s" class="entity-img" />
                        </figure>
                        <div class="content">
                            <p class="title">Billie	Pierce</p>
                            <span class="caption">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <figure class="slide-bgimg" style="background-image:url(https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLVUpEems2ZXpHYVk)">
                            <img src="https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLVUpEems2ZXpHYVk" class="entity-img" />
                        </figure>
                        <div class="content">
                            <p class="title">Trevor	Copeland</p>
                            <span class="caption">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <figure class="slide-bgimg" style="background-image:url(https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLNXBIcEdOUFVIWmM)">
                            <img src="https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLNXBIcEdOUFVIWmM" class="entity-img" />
                        </figure>
                        <div class="content">
                            <p class="title">Bernadette	Newman</p>
                            <span class="caption">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
                        </div>
                    </div>
                </div>
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev swiper-button-white"></div>
                <div class="swiper-button-next swiper-button-white"></div>
            </div>

            <!-- Thumbnail navigation -->
            <div class="swiper-container nav-slider loading">
                <div class="swiper-wrapper" role="navigation">
                    <div class="swiper-slide">
                        <figure class="slide-bgimg" style="background-image:url(https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLbVhsNzdIYmlfN1E)">
                            <img src="https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLbVhsNzdIYmlfN1E" class="entity-img" />
                        </figure>
                        <div class="content">
                            <p class="title">Shaun Matthews</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <figure class="slide-bgimg" style="background-image:url(https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLWTdaX3J5b1VueDg)">
                            <img src="https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLWTdaX3J5b1VueDg" class="entity-img" />
                        </figure>
                        <div class="content">
                            <p class="title">Alexis Berry</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <figure class="slide-bgimg" style="background-image:url(https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLRml1b3B6eXVqQ2s)">
                            <img src="https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLRml1b3B6eXVqQ2s" class="entity-img" />
                        </figure>
                        <div class="content">
                            <p class="title">Billie	Pierce</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <figure class="slide-bgimg" style="background-image:url(https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLVUpEems2ZXpHYVk)">
                            <img src="https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLVUpEems2ZXpHYVk" class="entity-img" />
                        </figure>
                        <div class="content">
                            <p class="title">Trevor	Copeland</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <figure class="slide-bgimg" style="background-image:url(https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLNXBIcEdOUFVIWmM)">
                            <img src="https://drive.google.com/uc?export=view&id=0B_koKn2rKOkLNXBIcEdOUFVIWmM" class="entity-img" />
                        </figure>
                        <div class="content">
                            <p class="title">Bernadette	Newman</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container-fluid container-traficoNaves">
            <h1>Tráficos de naves</h1>
            <p>cuadro de intenerario</p>
           

            <div class="row">

            </div>

        </div>

    </div>
